@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.wrap {
  font-family: "華康秀風體";
  background-color: rgb(142, 59, 50);
  color: rgb(195, 161, 111);
  overflow: hidden;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
  box-sizing: border-box;
}

@font-face {
  font-family: ChenYuluoyan-Thin-Monospaced;
  src: url("../fonts/ChenYuluoyan-Thin-Monospaced.woff") format("woff");
}
@font-face {
  font-family: ZapfinoLinotypeOne;
  src: url("../fonts/ZapfinoLinotypeOne.woff2") format("woff2");
}
@font-face {
  font-family: Bodoni72C Bold;
  src: url("../fonts/Bodoni72C Regular.woff") format("woff");
}
@font-face {
  font-family: 華康秀風體;
  src: url("../fonts/華康秀風體.woff") format("woff");
}
.cover {
  width: 100%;
  height: 950px;
  box-sizing: border-box;
  margin: auto;
}
@media (max-width: 1024px) {
  .cover {
    height: 1200px;
    border: solid 3px #000;
  }
}

.cover2 {
  height: 714px;
  box-sizing: border-box;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "ZapfinoLinotypeOne";
  font-size: 100px;
}
@media (max-width: 1024px) {
  .cover2 {
    height: 1000px;
    border: solid 3px #000;
  }
}
.cover2 p {
  padding: 40px;
  display: inline-block;
  line-height: 20px;
}
.cover2 .and {
  font-size: 40px;
}

.content {
  width: 100%;
  height: 950px;
  box-sizing: border-box;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
@media (max-width: 1024px) {
  .content {
    height: 1200px;
    border: solid 3px #000;
  }
}

.content2 {
  height: 714px;
  box-sizing: border-box;
  margin-bottom: 0;
}
@media (max-width: 1024px) {
  .content2 {
    height: 1000px;
    border: solid 3px #000;
  }
}

.title {
  padding-top: 50px;
  padding-left: 10px;
  line-height: 50px;
}
@media (max-width: 1024px) {
  .title {
    padding-top: 150px;
    padding-left: 170px;
  }
}
.title h1 {
  font-size: 50px;
  color: rgb(205, 154, 134);
  font-family: ChenYuluoyan-Thin-Monospaced;
}
.title p {
  font-family: "Bodoni72C Bold";
  font-size: 15px;
  color: rgb(195, 161, 111);
  letter-spacing: 5px;
}
.title img {
  width: 40px;
}

.content3 {
  padding: 50px 0 40px 0;
  line-height: 35px;
  font-size: 15px;
  color: #FFFFFF;
  text-align: center;
}
@media (max-width: 1024px) {
  .content3 {
    padding: 100px 0 90px 0;
  }
}
.content3 .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.content3 .groom,
.content3 .bride {
  width: 170px;
}
.content3 .groom {
  padding-left: 40px;
}
@media (max-width: 1024px) {
  .content3 .groom {
    padding-left: 200px;
  }
}
.content3 .bride {
  padding-right: 40px;
}
@media (max-width: 1024px) {
  .content3 .bride {
    padding-right: 200px;
  }
}
.content3 .name {
  padding-bottom: 20px;
  font-size: 30px;
}
.content3 .parents_name {
  font-size: 20px;
}
.content3 img {
  width: 30px;
}

.footer {
  padding: 0 40px 70px 40px;
  text-align: center;
  font-size: 20px;
  position: relative;
}
.footer .invite {
  font-size: 25px;
}
.footer .date {
  padding-top: 20px;
  font-size: 40px;
}
@media (max-width: 1024px) {
  .footer .week {
    padding-top: 10px;
  }
}
.footer .time {
  padding-top: 5px;
}
.footer .location {
  padding: 30px 0 15px 0;
}
.footer .invite::before {
  content: "";
  position: absolute;
  width: 90px;
  height: 1px;
  background-color: rgb(195, 161, 111);
  top: 4%;
  left: 12%;
}
@media (max-width: 1024px) {
  .footer .invite::before {
    left: 30%;
  }
}
.footer .invite::after {
  content: "";
  position: absolute;
  width: 90px;
  height: 1px;
  background-color: rgb(195, 161, 111);
  top: 4%;
  right: 12%;
}
@media (max-width: 1024px) {
  .footer .invite::after {
    right: 30%;
  }
}
.footer p {
  font-family: "Bodoni72C Bold";
  font-size: 15px;
  color: rgb(195, 161, 111);
  letter-spacing: 7px;
  padding-top: 30px;
}
.footer .weddinginvitation {
  display: flex;
  justify-content: space-around;
}
@media (max-width: 1024px) {
  .footer .weddinginvitation {
    padding: 0 180px;
  }
}

.cover2 {
  position: relative;
}
.cover2 .to-bottom1, .cover2 .to-bottom2, .cover2 .to-bottom3 {
  cursor: pointer;
  width: 30px;
  height: 50px;
  position: relative;
  position: absolute;
  top: 90%;
  left: 46.5%;
}
.cover2 .to-bottom1:before, .cover2 .to-bottom2:before, .cover2 .to-bottom3:before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  border-top: 2px solid rgb(195, 161, 111);
  border-right: 2px solid rgb(195, 161, 111);
  transform: rotate(135deg) translate(10%, 0);
  top: 20%;
  left: 25%;
  animation: toBottom 2s infinite ease-in;
}
.cover2 .to-bottom2 {
  top: 91.5%;
}
.cover2 .to-bottom3 {
  top: 93%;
}
@keyframes toBottom {
  0%, 30% {
    top: 0%;
    opacity: 1;
  }
  80% {
    top: 5%;
    opacity: 0.3;
  }
  90%, 100% {
    top: 20%;
    opacity: 0;
  }
}

.footer .to-top {
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid white;
  position: relative;
  margin-bottom: 100px;
}
.footer .to-top:before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  border-top: 2px solid white;
  border-right: 2px solid white;
  transform: rotate(-45deg) translate(-70%, 0);
  top: 20%;
  left: 50%;
  animation: toTop 2s infinite ease-in;
}
@keyframes toTop {
  0%, 30% {
    top: 20%;
    opacity: 1;
  }
  80% {
    top: 5%;
    opacity: 0.3;
  }
  90%, 100% {
    top: 0%;
    opacity: 0;
  }
}/*# sourceMappingURL=all.css.map */