.wrap {
    font-family:  '華康秀風體';
    background-color: rgb(142,59,50);
    color: rgb(195,161,111);
    overflow: hidden;
}

.container {
    max-width: 1180px;
    margin: 0 auto;
    box-sizing: border-box;
    // text-align: center;
}