@font-face{
    font-family:  ChenYuluoyan-Thin-Monospaced;
    src: url('/font_family/ChenYuluoyan-Thin-Monospaced.woff') format('woff');
};
@font-face{
    font-family:  ZapfinoLinotypeOne;
    src: url('/font_family/ZapfinoLinotypeOne.woff2') format('woff2');
};
@font-face{
    font-family: Bodoni72C Bold;
    src: url('/font_family/Bodoni72C\ Regular.woff') format('woff');
};

@font-face{
    font-family: 華康秀風體;
    src: url('/font_family/華康秀風體.woff') format('woff');
};